obj/dotNetDebugging.csproj.nuget.dgspec.json
obj/dotNetDebugging.csproj.nuget.g.props
obj/dotNetDebugging.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Debug/net8.0/apphost
obj/Debug/net8.0/dotNetDebugging.AssemblyInfo.cs
obj/Debug/net8.0/dotNetDebugging.AssemblyInfoInputs.cache
obj/Debug/net8.0/dotNetDebugging.assets.cache
obj/Debug/net8.0/dotNetDebugging.csproj.CoreCompileInputs.cache
obj/Debug/net8.0/dotNetDebugging.csproj.FileListAbsolute.txt
obj/Debug/net8.0/dotNetDebugging.dll
obj/Debug/net8.0/dotNetDebugging.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net8.0/dotNetDebugging.genruntimeconfig.cache
obj/Debug/net8.0/dotNetDebugging.GlobalUsings.g.cs
obj/Debug/net8.0/dotNetDebugging.pdb
obj/Debug/net8.0/ref/dotNetDebugging.dll
obj/Debug/net8.0/refint/dotNetDebugging.dll
obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
obj/Release/net8.0/apphost
obj/Release/net8.0/dotNetDebugging.AssemblyInfo.cs
obj/Release/net8.0/dotNetDebugging.AssemblyInfoInputs.cache
obj/Release/net8.0/dotNetDebugging.assets.cache
obj/Release/net8.0/dotNetDebugging.csproj.CoreCompileInputs.cache
obj/Release/net8.0/dotNetDebugging.csproj.FileListAbsolute.txt
obj/Release/net8.0/dotNetDebugging.dll
obj/Release/net8.0/dotNetDebugging.GeneratedMSBuildEditorConfig.editorconfig
obj/Release/net8.0/dotNetDebugging.genruntimeconfig.cache
obj/Release/net8.0/dotNetDebugging.GlobalUsings.g.cs
obj/Release/net8.0/dotNetDebugging.pdb
obj/Release/net8.0/ref/dotNetDebugging.dll
obj/Release/net8.0/refint/dotNetDebugging.dll
bin/Debug/net8.0/dotNetDebugging
bin/Debug/net8.0/dotNetDebugging.deps.json
bin/Debug/net8.0/dotNetDebugging.dll
bin/Debug/net8.0/dotNetDebugging.pdb
bin/Debug/net8.0/dotNetDebugging.runtimeconfig.json
bin/Release/net8.0/dotNetDebugging
bin/Release/net8.0/dotNetDebugging.deps.json
bin/Release/net8.0/dotNetDebugging.dll
bin/Release/net8.0/dotNetDebugging.pdb
bin/Release/net8.0/dotNetDebugging.runtimeconfig.json
